# Local Development Config
VITE_TRIRIGA_URL=http://localhost:8001
VITE_INSTANCE_ID=-1
VITE_CONTEXT_PATH=/app
VITE_MODEL_AND_VIEW=devView
VITE_BASE_PATH=/app/devView
VITE_EXPOSED_NAME=devView
VITE_SSO=false
VITE_AUTO_LOGIN=true

# Deployment Config (used by tri-deploy)
TRI_URL=https://your-tririga-server.com
TRI_USER=your-username
TRI_PASSWORD=your-password
